ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.spoiler {
  padding: 300px 0 50px 50px;
  list-style: none;
}

.spoiler__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.spoiler__title::before,
.spoiler__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
}
.spoiler__title::before {
  transform: rotate(40deg);
  left: 0;
}
.spoiler__title::after {
  transform: rotate(-40deg);
  left: 8px;
}
.spoiler__title.active::before,
.spoiler__title.active::after {
  background-color: red;
}
.spoiler__title.active::before {
  transform: rotate(-40deg);
}
.spoiler__title.active::after {
  transform: rotate(40deg);
}
.spoiler__text {
  display: none;
}

/* випадаюче меню */

.menu {
  background-color: slategrey;
  margin-bottom: 300p;
}
.menu__list {
  display: flex;
  gap: 30px;
}
.menu__link {
  color: white;
}

menu li {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 40px;
  left: 5px;
}
